<div class="container">
    <div class="row ">
        <div class="col-md-12 container-row">
            <div class="card">

                <div class="text-center">
                    <h1>Resturant Login</h1><hr>
                    <h5>Feel free to login</h5>
                </div>

                <form [formGroup]="loginForm" (ngsubmit)="login()" >

                    <div class="mb-3">
                        <label 
                            for="exampleInputEmail1" 
                            class="form-label">
                            Email address
                        </label>
                        <input 
                            type="email" 
                            placeholder="Enter Email" 
                            class="form-control">
                        <div 
                            id="emailHelp" 
                            class="form-text">
                            We'll never share your email with anyone else.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label 
                            for="exampleInputPassword1" 
                            class="form-label">
                            Password
                        </label>
                        <input 
                        type="password" 
                        placeholder="Enter Password"  
                        class="form-control" 
                        id="exampleInputPassword1">
                    </div>

                    <button 
                        type="submit" 
                        class="btn btn-primary"
                        (click)="login()">
                        Submit
                    </button>
                    <hr>

                </form>

                <h6>New User?</h6>
                <a routerLink = "/signup"> Sign-up</a>

            </div>
        </div>
    </div>
</div>